@import 'variables';
// 高解像度ディスプレイを基本としたデバイス用（縦向き）
@mixin screen-portrait {
  @media (-webkit-min-device-pixel-ratio: 2) and (orientation: $portrait),
  (min-resolution: 2dppx) and (orientation: $portrait) {
    @content;
  }
}
@mixin screen-hd-portrait {
  @media (min-width: $hd-min) and (-webkit-min-device-pixel-ratio: 2) and (orientation: $portrait),
  (min-width: $hd-min) and (min-resolution: 2dppx) and (orientation: $portrait) {
    @content;
  }
}
@mixin screen-desktop-portrait {
  @media (min-width: $desktop-min) and (-webkit-min-device-pixel-ratio: 2) and (orientation: $portrait),
  (min-width: $desktop-min) and (min-resolution: 2dppx) and (orientation: $portrait) {
    @content;
  }
}
@mixin screen-laptop-portrait {
  @media (min-width: $laptop-min) and (-webkit-min-device-pixel-ratio: 2) and (orientation: $portrait),
  (min-width: $laptop-min) and (min-resolution: 2dppx) and (orientation: $portrait) {
    @content;
  }
}
@mixin screen-tablet-portrait {
  @media (min-width: $tablet-min) and (-webkit-min-device-pixel-ratio: 2) and (orientation: $portrait),
  (min-width: $tablet-min) and (min-resolution: 2dppx) and (orientation: $portrait) {
    @content;
  }
}
@mixin screen-mobile-portrait {
  @media (max-width: $mobile-max) and (-webkit-min-device-pixel-ratio: 2) and (orientation: $portrait),
  (max-width: $mobile-max) and (min-resolution: 2dppx) and (orientation: $portrait) {
    @content;
  }
}

// 高解像度ディスプレイを基本としたデバイス用（横向き）
@mixin screen-landscape {
  @media (-webkit-min-device-pixel-ratio: 2) and (orientation: $landscape),
  (min-resolution: 2dppx) and (orientation: $landscape) {
    @content;
  }
}
@mixin screen-hd-landscape {
  @media (min-width: $hd-min) and (-webkit-min-device-pixel-ratio: 2) and (orientation: $landscape),
  (min-width: $hd-min) and (min-resolution: 2dppx) and (orientation: $landscape) {
    @content;
  }
}
@mixin screen-desktop-landscape {
  @media (min-width: $desktop-min) and (max-width: $desktop-max) and (-webkit-min-device-pixel-ratio: 2) and (orientation: $landscape),
  (min-width: $desktop-min) and (max-width: $desktop-max) and (min-resolution: 2dppx) and (orientation: $landscape) {
    @content;
  }
}
@mixin screen-laptop-landscape {
  @media (min-width: $laptop-min) and (max-width: $laptop-max) and (-webkit-min-device-pixel-ratio: 2) and (orientation: $landscape),
  (min-width: $laptop-min) and (max-width: $laptop-max) and (min-resolution: 2dppx) and (orientation: $landscape) {
    @content;
  }
}
@mixin screen-tablet-landscape {
  @media (min-width: $tablet-min) and (max-width: $tablet-max) and (-webkit-min-device-pixel-ratio: 2) and (orientation: $landscape),
  (min-width: $tablet-min) and (max-width: $tablet-max) and (min-resolution: 2dppx) and (orientation: $landscape) {
    @content;
  }
}
@mixin screen-mobile-landscape {
  @media (max-width: $mobile-max) and (-webkit-min-device-pixel-ratio: 2) and (orientation: $landscape),
  (max-width: $mobile-max) and (min-resolution: 2dppx) and (orientation: $landscape) {
    @content;
  }
}

// 通常のメディアクエリ
@mixin nrm-screen-hd {
  @media only screen and (min-width: $hd-min) {
    @content;
  }
}
@mixin nrm-screen-desktop {
  @media only screen and (min-width: $desktop-min) {
    @content;
  }
}
@mixin nrm-screen-laptop {
  @media only screen and (min-width: $laptop-min) {
    @content;
  }
}
@mixin nrm-screen-tablet {
  @media only screen and (min-width: $tablet-min) {
    @content;
  }
}
@mixin nrm-screen-mobile {
  @media only screen and (max-width: $mobile-max) {
    @content;
  }
}

// 通常のメディアクエリ用（縦向き）
@mixin nrm-screen-portrait {
  @media only screen and (orientation: $portrait) {
    @content;
  }
}
@mixin nrm-screen-hd-portrait {
  @media only screen and (min-width: $hd-min) and (orientation: $portrait) {
    @content;
  }
}
@mixin nrm-screen-desktop-portrait {
  @media only screen and (min-width: $desktop-min) and (orientation: $portrait) {
    @content;
  }
}
@mixin nrm-screen-laptop-portrait {
  @media only screen and (min-width: $laptop-min) and (orientation: $portrait) {
    @content;
  }
}
@mixin nrm-screen-tablet-portrait {
  @media only screen and (min-width: $tablet-min) and (orientation: $portrait) {
    @content;
  }
}
@mixin nrm-screen-mobile-portrait {
  @media only screen and (max-width: $mobile-max) and (orientation: $portrait) {
    @content;
  }
}

// 通常のメディアクエリ用（横向き）
@mixin nrm-screen-desktop-landscape {
  @media only screen and (min-width: $desktop-min) and (max-width: $desktop-max) and (orientation: $landscape) {
    @content;
  }
}
@mixin nrm-screen-laptop-landscape {
  @media only screen and (min-width: $laptop-min) and (max-width: $laptop-max) and (orientation: $landscape) {
    @content;
  }
}
@mixin nrm-screen-tablet-landscape {
  @media only screen and (min-width: $tablet-min) and (max-width: $tablet-max) and (orientation: $landscape) {
    @content;
  }
}
@mixin nrm-screen-mobile-landscape {
  @media only screen and (max-width: $mobile-max) and (orientation: $landscape) {
    @content;
  }
}

@mixin iframe {
    .iframe-box {
        padding:60.2% 0 0 0;
        position:relative;

        iframe {
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
        }
    }
}

@mixin title-heading {
  margin: 50px 0;
  text-align: center;
}