@media (max-width: 575px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape), (max-width: 575px) and (min-resolution: 2dppx) and (orientation: landscape) {
  h1, .h1 {
    font-size: 2.6rem;
    font-weight: 600;
  }
  h2, .h2 {
    font-size: 2.2rem;
  }
  h3, h4, h5, h6, p, .h3, .h4, .h5 {
    font-size: 1.6rem;
  }
  .display-4 {
    font-size: 2.4rem;
  }
}

@media (min-width: 576px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape), (min-width: 576px) and (max-width: 767px) and (min-resolution: 2dppx) and (orientation: landscape) {
  h1, .h1 {
    font-size: 3.6rem;
    font-weight: 600;
  }
  h2, .h2 {
    font-size: 2.8rem;
  }
  h3, h4, h5, h6, p, .h3, .h4, .h5 {
    font-size: 1.6rem;
  }
  .display-4 {
    font-size: 1rem;
  }
  .btn {
    font-size: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape), (min-width: 768px) and (max-width: 991px) and (min-resolution: 2dppx) and (orientation: landscape) {
  h1, .h1 {
    font-size: 1.8rem;
  }
  h2, .h2 {
    font-size: 1.6rem;
  }
  h3, h4, h5, h6, p.h3, .h4, .h5 {
    font-size: 1.4rem;
  }
  .display-4 {
    font-size: 2.4rem;
  }
}

@media (max-width: 575px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait), (max-width: 575px) and (min-resolution: 2dppx) and (orientation: portrait) {
  h1, .h1 {
    font-size: 2.6rem;
    font-weight: 600;
  }
  h2, .h2 {
    font-size: 2.2rem;
  }
  h3, h4, h5, h6, p, .h3, .h4, .h5 {
    font-size: 1.6rem;
  }
  .display-4 {
    font-size: 2.4rem;
  }
}

@media (min-width: 576px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait), (min-width: 576px) and (max-width: 767px) and (min-resolution: 2dppx) and (orientation: portrait) {
  h1, .h1 {
    font-size: 3.2rem;
    font-weight: 600;
  }
  h2, .h2 {
    font-size: 2.8rem;
  }
  h3, h4, h5, h6, p, .h3, .h4, .h5 {
    font-size: 1.6rem;
  }
  .display-4 {
    font-size: 3.2rem;
  }
  .btn {
    font-size: 2.4rem;
  }
}

.card-box::after {
  content: "";
  display: block;
  width: 30%;
}

button.opinion-btn {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  display: fixed;
  margin: 0 3rem 3rem auto;
}

.full-height {
  height: 100vh;
}

@media (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait), (min-resolution: 2dppx) and (orientation: portrait) {
  .full-height {
    height: 70vh;
  }
}

h2.title {
  margin: 50px 0;
  text-align: center;
}

h2.title-m-t {
  margin-top: 50px;
}

.max-w-400 {
  max-width: 400px;
}

.card-deck .card .card-body {
  color: #333;
}

.card-deck .card .card-body h5, .card-deck .card .card-body h6 {
  font-weight: 600;
}

.pg-top #applicationForm #modal-dialog-appform, .login-top #applicationForm #modal-dialog-appform {
  max-width: 800px;
}

@media (min-width: 576px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait), (min-width: 576px) and (max-width: 767px) and (min-resolution: 2dppx) and (orientation: portrait) {
  .pg-top #applicationForm #modal-dialog-appform .modal-body, .login-top #applicationForm #modal-dialog-appform .modal-body {
    font-size: 1.6rem;
  }
}

.pg-top #applicationForm #modal-dialog-appform .form-check input, .login-top #applicationForm #modal-dialog-appform .form-check input {
  position: absolute;
  margin-top: 0.3rem;
  margin-left: 0.3rem;
}

@media (min-width: 576px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait), (min-width: 576px) and (max-width: 767px) and (min-resolution: 2dppx) and (orientation: portrait) {
  .pg-top #applicationForm #modal-dialog-appform .form-check input, .login-top #applicationForm #modal-dialog-appform .form-check input {
    margin-top: 0.9rem;
    margin-left: 1rem;
  }
}

.pg-top {
  position: relative;
}

.pg-top .top-right {
  position: absolute;
  right: 30px;
  top: 50px;
  z-index: 1;
}

@media (min-width: 576px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait), (min-width: 576px) and (max-width: 767px) and (min-resolution: 2dppx) and (orientation: portrait) {
  .pg-top .top-right {
    top: 80px;
  }
}

@media (min-width: 768px) and (max-width: 991px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait), (min-width: 768px) and (max-width: 991px) and (min-resolution: 2dppx) and (orientation: portrait) {
  .pg-top .top-right {
    top: 60px;
  }
}

.pg-top .top-right a {
  color: #FFF;
  padding: 0 0.5rem;
  font-size: 1.4rem;
}

@media (max-width: 575px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape), (max-width: 575px) and (min-resolution: 2dppx) and (orientation: landscape) {
  .pg-top .top-right a {
    font-size: 1rem;
  }
}

@media (min-width: 576px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape), (min-width: 576px) and (max-width: 767px) and (min-resolution: 2dppx) and (orientation: landscape) {
  .pg-top .top-right a {
    font-size: 1.1rem;
    font-weight: 600;
  }
}

@media (min-width: 768px) and (max-width: 991px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape), (min-width: 768px) and (max-width: 991px) and (min-resolution: 2dppx) and (orientation: landscape) {
  .pg-top .top-right a {
    font-size: 1.2rem;
    font-weight: 600;
  }
}

@media (min-width: 576px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait), (min-width: 576px) and (max-width: 767px) and (min-resolution: 2dppx) and (orientation: portrait) {
  .pg-top .top-right a {
    padding: 0 1rem;
    font-size: 2.4rem;
    font-weight: 600;
  }
}

@media (min-width: 768px) and (max-width: 991px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait), (min-width: 768px) and (max-width: 991px) and (min-resolution: 2dppx) and (orientation: portrait) {
  .pg-top .top-right a {
    padding: 0 1rem;
    font-size: 1.8rem;
    font-weight: 600;
  }
}

.pg-top .top-img {
  background-image: url(../../images/product-school-DL-yyYDDNX4-unsplash.jpg);
  background-position: 70%;
  background-size: cover;
  width: 100%;
  position: relative;
}

.pg-top .top-img .ccp-en {
  position: absolute;
  bottom: 10rem;
  left: 6rem;
  font-family: sans-serif;
}

@media (max-width: 575px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape), (max-width: 575px) and (min-resolution: 2dppx) and (orientation: landscape) {
  .pg-top .top-img .ccp-en {
    bottom: 4rem;
    left: 2rem;
  }
}

@media (min-width: 576px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape), (min-width: 576px) and (max-width: 767px) and (min-resolution: 2dppx) and (orientation: landscape) {
  .pg-top .top-img .ccp-en {
    bottom: 5rem;
    left: 3rem;
  }
}

.pg-top .top-img .ccp-ja {
  position: absolute;
  bottom: 6rem;
  left: 6rem;
}

@media (max-width: 575px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape), (max-width: 575px) and (min-resolution: 2dppx) and (orientation: landscape) {
  .pg-top .top-img .ccp-ja {
    bottom: 2rem;
    left: 2rem;
  }
}

@media (min-width: 576px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape), (min-width: 576px) and (max-width: 767px) and (min-resolution: 2dppx) and (orientation: landscape) {
  .pg-top .top-img .ccp-ja {
    bottom: 3rem;
    left: 3rem;
  }
}

.pg-top .top-img .movetext1 {
  opacity: 0;
}

.pg-top .top-img .movetext1 span {
  text-shadow: 1px 2px 3px #808080;
  font-size: 2rem;
  color: white;
  opacity: 0;
}

@media (max-width: 575px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape), (max-width: 575px) and (min-resolution: 2dppx) and (orientation: landscape) {
  .pg-top .top-img .movetext1 span {
    font-size: 1rem;
  }
}

@media (min-width: 576px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape), (min-width: 576px) and (max-width: 767px) and (min-resolution: 2dppx) and (orientation: landscape) {
  .pg-top .top-img .movetext1 span {
    font-size: 1.1rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape), (min-width: 768px) and (max-width: 991px) and (min-resolution: 2dppx) and (orientation: landscape) {
  .pg-top .top-img .movetext1 span {
    font-size: 1.2rem;
  }
}

@media (min-width: 576px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait), (min-width: 576px) and (max-width: 767px) and (min-resolution: 2dppx) and (orientation: portrait) {
  .pg-top .top-img .movetext1 span {
    font-size: 2.2rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait), (min-width: 768px) and (max-width: 991px) and (min-resolution: 2dppx) and (orientation: portrait) {
  .pg-top .top-img .movetext1 span {
    font-size: 2.2rem;
  }
}

.pg-top .top-img .movetext2 {
  opacity: 0;
}

.pg-top .top-img .movetext2 span {
  text-shadow: 1px 2px 3px #808080;
  font-size: 3rem;
  color: white;
  opacity: 0;
}

@media (max-width: 575px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape), (max-width: 575px) and (min-resolution: 2dppx) and (orientation: landscape) {
  .pg-top .top-img .movetext2 span {
    font-size: 2rem;
  }
}

@media (min-width: 576px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape), (min-width: 576px) and (max-width: 767px) and (min-resolution: 2dppx) and (orientation: landscape) {
  .pg-top .top-img .movetext2 span {
    font-size: 2.2rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape), (min-width: 768px) and (max-width: 991px) and (min-resolution: 2dppx) and (orientation: landscape) {
  .pg-top .top-img .movetext2 span {
    font-size: 2.4rem;
  }
}

@media (min-width: 576px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait), (min-width: 576px) and (max-width: 767px) and (min-resolution: 2dppx) and (orientation: portrait) {
  .pg-top .top-img .movetext2 span {
    font-size: 3.6rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait), (min-width: 768px) and (max-width: 991px) and (min-resolution: 2dppx) and (orientation: portrait) {
  .pg-top .top-img .movetext2 span {
    font-size: 3.6rem;
  }
}

.pg-top .what-is-gt .row {
  position: relative;
}

@media (max-width: 575px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape), (max-width: 575px) and (min-resolution: 2dppx) and (orientation: landscape) {
  .pg-top .what-is-gt .descr {
    text-shadow: 1px 2px 3px #FFF, -1px 2px 3px #FFF, 1px -2px 3px #FFF, -1px -2px 3px #FFF;
  }
}

@media (min-width: 576px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape), (min-width: 576px) and (max-width: 767px) and (min-resolution: 2dppx) and (orientation: landscape) {
  .pg-top .what-is-gt .descr {
    text-shadow: 1px 2px 3px #FFF, -1px 2px 3px #FFF, 1px -2px 3px #FFF, -1px -2px 3px #FFF;
  }
}

@media (max-width: 575px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait), (max-width: 575px) and (min-resolution: 2dppx) and (orientation: portrait) {
  .pg-top .what-is-gt .descr {
    text-shadow: 1px 2px 3px #FFF, -1px 2px 3px #FFF, 1px -2px 3px #FFF, -1px -2px 3px #FFF;
  }
}

@media (min-width: 576px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait), (min-width: 576px) and (max-width: 767px) and (min-resolution: 2dppx) and (orientation: portrait) {
  .pg-top .what-is-gt .descr {
    text-shadow: 1px 2px 3px #FFF, -1px 2px 3px #FFF, 1px -2px 3px #FFF, -1px -2px 3px #FFF;
  }
}

.pg-top .what-is-gt .impr {
  background: no-repeat url(what-is-gt-impr.png);
  height: 70vh;
  width: 45%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

@media (max-width: 575px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape), (max-width: 575px) and (min-resolution: 2dppx) and (orientation: landscape) {
  .pg-top .what-is-gt .impr {
    width: 70%;
    height: 110vh;
  }
}

@media (min-width: 576px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape), (min-width: 576px) and (max-width: 767px) and (min-resolution: 2dppx) and (orientation: landscape) {
  .pg-top .what-is-gt .impr {
    width: 65%;
    height: 100vh;
  }
}

@media (min-width: 992px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape), (min-width: 992px) and (max-width: 1199px) and (min-resolution: 2dppx) and (orientation: landscape) {
  .pg-top .what-is-gt .impr {
    width: 36%;
    height: 100vh;
  }
}

@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape), (min-width: 1200px) and (min-resolution: 2dppx) and (orientation: landscape) {
  .pg-top .what-is-gt .impr {
    width: 27%;
    height: 100vh;
  }
}

@media (max-width: 575px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait), (max-width: 575px) and (min-resolution: 2dppx) and (orientation: portrait) {
  .pg-top .what-is-gt .impr {
    width: 70%;
    height: 100vh;
  }
}

@media (min-width: 576px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait), (min-width: 576px) and (max-width: 767px) and (min-resolution: 2dppx) and (orientation: portrait) {
  .pg-top .what-is-gt .impr {
    width: 40%;
    height: 200vh;
  }
}

.pg-top .meet-to-know .row {
  position: relative;
}

.pg-top .meet-to-know .impr {
  background: no-repeat url(meet-to-know-impr.png);
  height: 70vh;
  width: 40%;
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 575px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape), (max-width: 575px) and (min-resolution: 2dppx) and (orientation: landscape) {
  .pg-top .meet-to-know .impr {
    width: 50%;
    height: 130vh;
  }
}

@media (min-width: 576px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape), (min-width: 576px) and (max-width: 767px) and (min-resolution: 2dppx) and (orientation: landscape) {
  .pg-top .meet-to-know .impr {
    width: 50%;
    height: 120vh;
  }
}

@media (max-width: 575px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait), (max-width: 575px) and (min-resolution: 2dppx) and (orientation: portrait) {
  .pg-top .meet-to-know .impr {
    width: 50%;
    height: 130vh;
  }
}

@media (min-width: 576px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait), (min-width: 576px) and (max-width: 767px) and (min-resolution: 2dppx) and (orientation: portrait) {
  .pg-top .meet-to-know .impr {
    width: 50%;
    height: 300vh;
  }
}

.pg-top .meet-to-know .descr .first {
  padding-left: 16rem;
}

.pg-top .meet-to-know .descr .second {
  padding-left: 8rem;
}

@media (max-width: 575px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape), (max-width: 575px) and (min-resolution: 2dppx) and (orientation: landscape) {
  .pg-top .meet-to-know .descr {
    text-shadow: 1px 2px 3px #FFF, -1px 2px 3px #FFF, 1px -2px 3px #FFF, -1px -2px 3px #FFF;
  }
}

@media (min-width: 576px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape), (min-width: 576px) and (max-width: 767px) and (min-resolution: 2dppx) and (orientation: landscape) {
  .pg-top .meet-to-know .descr {
    text-shadow: 1px 2px 3px #FFF, -1px 2px 3px #FFF, 1px -2px 3px #FFF, -1px -2px 3px #FFF;
  }
}

@media (max-width: 575px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait), (max-width: 575px) and (min-resolution: 2dppx) and (orientation: portrait) {
  .pg-top .meet-to-know .descr {
    text-shadow: 1px 2px 3px #FFF, -1px 2px 3px #FFF, 1px -2px 3px #FFF, -1px -2px 3px #FFF;
  }
}

@media (min-width: 576px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait), (min-width: 576px) and (max-width: 767px) and (min-resolution: 2dppx) and (orientation: portrait) {
  .pg-top .meet-to-know .descr {
    text-shadow: 1px 2px 3px #FFF, -1px 2px 3px #FFF, 1px -2px 3px #FFF, -1px -2px 3px #FFF;
  }
}

.pg-top .gt-sample h2 {
  margin-top: 8rem;
}

@media (min-width: 768px) and (max-width: 991px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait), (min-width: 768px) and (max-width: 991px) and (min-resolution: 2dppx) and (orientation: portrait) {
  .pg-top .gt-sample h2 {
    margin-bottom: 6rem;
  }
}

.pg-top .gt-sample .row {
  margin-bottom: 5rem;
}

.pg-top .gt-sample .row .img {
  margin-top: 8rem;
}

.pg-top .gt-sample .row .intro {
  margin-top: 12rem;
}

@media (max-width: 575px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape), (max-width: 575px) and (min-resolution: 2dppx) and (orientation: landscape) {
  .pg-top .gt-sample .row .intro {
    margin-top: 2rem;
  }
}

@media (min-width: 576px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape), (min-width: 576px) and (max-width: 767px) and (min-resolution: 2dppx) and (orientation: landscape) {
  .pg-top .gt-sample .row .intro {
    margin-top: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape), (min-width: 768px) and (max-width: 991px) and (min-resolution: 2dppx) and (orientation: landscape) {
  .pg-top .gt-sample .row .intro {
    margin-top: 2rem;
  }
}

@media (max-width: 575px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait), (max-width: 575px) and (min-resolution: 2dppx) and (orientation: portrait) {
  .pg-top .gt-sample .row .intro {
    margin-top: 2rem;
  }
}

@media (min-width: 576px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait), (min-width: 576px) and (max-width: 767px) and (min-resolution: 2dppx) and (orientation: portrait) {
  .pg-top .gt-sample .row .intro {
    margin-top: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait), (min-width: 768px) and (max-width: 991px) and (min-resolution: 2dppx) and (orientation: portrait) {
  .pg-top .gt-sample .row .intro {
    margin-top: 6rem;
  }
}

.pg-top .gt-sample .row .intro #gt-sample1 #modal-dialog-gt-sample1 {
  max-width: 700px;
}

.pg-top .gt-sample .row .intro #gt-sample2 #modal-dialog-gt-sample2 {
  max-width: 700px;
}

.pg-top .gt-sample .row .intro #gt-sample3 #modal-dialog-gt-sample3 {
  max-width: 700px;
}

.pg-top .service-flow .row {
  max-width: 1800px;
  margin: auto;
}

.pg-top .service-flow .row .steps {
  background-color: #fff;
  border-radius: 20px;
  text-align: center;
  padding-top: 2rem;
}

@media (min-width: 576px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape), (min-width: 576px) and (max-width: 767px) and (min-resolution: 2dppx) and (orientation: landscape) {
  .pg-top .service-flow .row .steps {
    max-width: 315px;
  }
}

@media (min-width: 576px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait), (min-width: 576px) and (max-width: 767px) and (min-resolution: 2dppx) and (orientation: portrait) {
  .pg-top .service-flow .row .steps {
    max-width: 315px;
  }
}

.pg-top .service-flow .row .steps img {
  height: 5rem;
}

.pg-top .scenes {
  padding: 8rem 0;
}

.pg-top .scenes .card-deck {
  max-width: 1600px;
  margin: auto;
}

.pg-top .faq {
  padding-bottom: 8rem;
}

.pg-top .faq .accordion input {
  display: none;
}

.pg-top .faq .box {
  position: relative;
  background: white;
  height: 64px;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

@media (min-width: 576px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait), (min-width: 576px) and (max-width: 767px) and (min-resolution: 2dppx) and (orientation: portrait) {
  .pg-top .faq .box {
    font-size: 1.6rem;
  }
}

.pg-top .faq .box::before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  -webkit-box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
          box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
}

.pg-top .faq .box-title {
  width: calc(100% - 40px);
  height: 64px;
  line-height: 64px;
  padding: 0 20px;
  display: inline-block;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pg-top .faq .box-content {
  width: calc(100% - 40px);
  padding: 30px 20px;
  font-size: 11pt;
  color: rgba(0, 0, 0, 0.54);
  display: none;
}

@media (min-width: 576px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait), (min-width: 576px) and (max-width: 767px) and (min-resolution: 2dppx) and (orientation: portrait) {
  .pg-top .faq .box-content {
    font-size: 1.6rem;
  }
}

.pg-top .faq .box-close {
  position: absolute;
  height: 64px;
  width: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}

.pg-top .faq input:checked + .box {
  height: auto;
  margin: 16px 0;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.16), 0 6px 12px rgba(0, 0, 0, 0.32);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.16), 0 6px 12px rgba(0, 0, 0, 0.32);
}

.pg-top .faq input:checked + .box .box-title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.18);
}

.pg-top .faq input:checked + .box .box-content,
.pg-top .faq input:checked + .box .box-close {
  display: inline-block;
}

.pg-top .faq .arrows section .box-title {
  padding-left: 44px;
  width: calc(100% - 64px);
}

.pg-top .faq .arrows section .box-title:before {
  position: absolute;
  display: block;
  content: '\203a';
  font-size: 18pt;
  left: 20px;
  top: -2px;
  -webkit-transition: -webkit-transform .15s ease-in-out;
  transition: -webkit-transform .15s ease-in-out;
  transition: transform .15s ease-in-out;
  transition: transform .15s ease-in-out, -webkit-transform .15s ease-in-out;
  color: rgba(0, 0, 0, 0.54);
}

.pg-top .faq input:checked + section.box .box-title:before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.home .wrap .card-deck .card {
  margin-top: 30px;
}

.home .wrap img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.home .success-story .card {
  max-width: 780px;
}

.home .success-story img {
  width: 260px;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
}

.home .success-story a {
  margin-top: 30px;
}

.detail .wrap {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.detail .wrap .iframe-box {
  padding: 60.2% 0 0 0;
  position: relative;
}

.detail .wrap .iframe-box iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.detail h4 {
  margin-bottom: 20px;
}

.detail .invite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 30px;
}

.apply .img-box {
  text-align: center;
}

.apply .img-box img {
  width: 250px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.apply .img-box h2, .apply .img-box h4 {
  text-align: center;
}

.interest .card {
  width: 325px;
  margin: 25px;
}

.interest .card img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.interest .card h5.name {
  text-align: center;
}

.history .justify-content-center .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #CCC;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.history .section {
  margin-bottom: 20px;
  border-bottom: medium solid #ff00ff;
}

.history .gt-sec h5 {
  text-align: center;
}

.history .gt-sec .img-box {
  text-align: center;
}

.history .gt-sec .img-box img {
  width: 200px;
  margin-bottom: 15px;
}

.gt-index .register {
  margin-bottom: 30px;
}

.gt-index .list h3, .gt-index .list h5 {
  text-align: center;
}

.gt-index .list .card {
  width: 325px;
  margin: 25px;
}

.gt-show {
  margin: 50px auto;
}

.gt-show .iframe-box {
  padding: 60.2% 0 0 0;
  position: relative;
}

.gt-show .iframe-box iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=style.css.map */