@import 'variables';
@import 'mixin';

@include screen-mobile {
    h1,.h1 {
        font-size: 1.5rem;
    }
    h2,.h2 {
        font-size: 1.2rem;
    }
    h3,h4,h5,.h3,.h4,.h5 {
        font-size: 1rem;
    }
    .display-4 {
        font-size: 2.2rem;
    }
}
@include screen-tablet {
    h1,.h1 {
        font-size: 1.6rem;
    }
    h2,.h2 {
        font-size: 1.4rem;
    }
    h3,h4,h5,.h3,.h4,.h5 {
        font-size: 1.2rem;
    }
    .display-4 {
        font-size: 2.4rem;
    }
}
@include screen-laptop {
    h1, .h1 {
        font-size: 1.8rem;
    }
    h2,.h2 {
        font-size: 1.6rem;
    }
    h3,h4,h5,.h3,.h4,.h5 {
        font-size: 1.4rem;
    }
    .display-4 {
        font-size: 2.6rem;
    }
}

button.opinion-btn {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    display: fixed;
    margin: 0 3rem 3rem auto;
}

.full-height {
    height: 80vh;
    @include screen-portrait {
        height: 70vh;
    }
}

h2.title {
    @include title-heading;
}
h2.title-m-t {
    margin-top: $mt50;
}

.max-w-400 {
    max-width: 400px;
}

.card-deck {
    .card {
        .card-body {
            color: #333;
            h5,h6 {
                font-weight: 600;
            }
        }
    }
}

.pg-top {
    position: relative;
    .top-right {
        position: absolute;
        right: 30px;
        top: 50px;
        z-index: 1;
        @include screen-landscape {
            top: 30px;
        }
        a {
            color: #FFF; 
            padding: 0 0.5rem;
            font-size: 1.4rem;
            @include screen-mobile-portrait {
                font-size: 1.6rem;
                font-weight: 600;
            }
            @include screen-mobile-landscape {
                font-size: 1rem;
            }
            @include screen-tablet-landscape {
                font-size: 1.1rem;
                font-weight: 600;
            }
            @include screen-laptop-landscape {
                font-size: 1.2rem;
                font-weight: 600;
            }
        }
    }
    #applicationForm {     
        #modal-dialog-appform {
            max-width: 600px;

            .form-check {
                input {
                    position: absolute; 
                    margin-top: 0.3rem; 
                    margin-left: 0.3rem;
                }
            }
        }
    }
    .top-img {
        background-image: url(../../images/product-school-DL-yyYDDNX4-unsplash.jpg);
        background-position: 70%;
        background-size: cover; 
        width: 100%;
        position: relative;
        .ccp-en {
            position: absolute; 
            bottom: 10rem;
            left: 6rem; 
            font-family: sans-serif;
            @include screen-mobile-landscape {
                bottom: 4rem;
                left: 2rem; 
            }
            @include screen-tablet-landscape {
                bottom: 5rem;
                left: 3rem; 
            }
        }
        .ccp-ja {
            position: absolute; 
            bottom: 6rem; 
            left: 6rem;
            @include screen-mobile-landscape {
                bottom: 2rem;
                left: 2rem; 
            }
            @include screen-tablet-landscape {
                bottom: 3rem;
                left: 3rem; 
            }
        }
        .movetext1{
            opacity:0;
            span {
                text-shadow: 1px 2px 3px #808080; 
                font-size: 2rem; 
                color: white;
                opacity:0;
                @include screen-mobile-landscape {
                    font-size: 1rem;
                }
                @include screen-tablet-landscape {
                    font-size: 1.1rem;
                }
                @include screen-laptop-landscape {
                    font-size: 1.2rem;
                }
            }
        }
        .movetext2{
            opacity:0;
            span {
                text-shadow: 1px 2px 3px #808080; 
                font-size: 3rem; 
                color: white;
                opacity:0;
                @include screen-mobile-landscape {
                    font-size: 2rem;
                }
                @include screen-tablet-landscape {
                    font-size: 2.2rem;
                }
                @include screen-laptop-landscape {
                    font-size: 2.4rem;
                }
            }
        }
    }
    .what-is-gt {
        .row {
            position: relative;
        }
        .descr {
            @include screen-mobile {
                text-shadow: 1px 2px 3px #FFF, -1px 2px 3px #FFF, 1px -2px 3px #FFF, -1px -2px 3px #FFF;
            }
            @include screen-tablet {
                text-shadow: 1px 2px 3px #FFF, -1px 2px 3px #FFF, 1px -2px 3px #FFF, -1px -2px 3px #FFF;
            }
        }
        .impr {
            background: no-repeat url(what-is-gt-impr.png);
            height: 70vh;
            width: 45%;
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
            @include screen-mobile-portrait {
                width: 70%;
            }
            @include screen-tablet-portrait {
                width: 50%;
            }
            @include screen-laptop-portrait {
                width: 42%;
            }
            @include screen-desktop {
                width: 36%;
            }
            @include screen-hd {
                width: 27%;
            }
            @include screen-mobile-landscape {
                width: 70%;
                height: 110vh;
            }
            @include screen-tablet-landscape {
                width: 65%;
                height: 100vh;
            }
        }
    }

    .meet-to-know {
        .row {
            position: relative;
        }
        .impr {
            background: no-repeat url(meet-to-know-impr.png);
            height: 70vh;
            width: 40%;
            position: absolute;
            top: 0;
            left: 0;
            @include screen-mobile-landscape {
                width: 50%;
                height: 130vh;
            }
            @include screen-tablet-landscape {
                width: 50%;
                height: 120vh;
            }
        }
        .descr {
            .first {
                padding-left: 16rem;
            }
            .second {
                padding-left: 8rem;
            }
            @include screen-mobile {
                text-shadow: 1px 2px 3px #FFF, -1px 2px 3px #FFF, 1px -2px 3px #FFF, -1px -2px 3px #FFF;
            }
            @include screen-tablet {
                text-shadow: 1px 2px 3px #FFF, -1px 2px 3px #FFF, 1px -2px 3px #FFF, -1px -2px 3px #FFF;
            }
        }
    }

    .gt-sample {
        h2 {
            margin-top: 8rem;
        }
        .row {
            margin-bottom: 5rem;
            .img {
                margin-top: 8rem;
            }
            .intro {
                margin-top: 12rem;
                @include screen-mobile {
                    margin-top: 2rem;
                }
                @include screen-tablet {
                    margin-top: 2rem;
                }
                #gt-sample1 {
                    #modal-dialog-gt-sample1 {
                        max-width: 700px;
                    }
                }
                #gt-sample2 {
                    #modal-dialog-gt-sample2 {
                        max-width: 700px;
                    }
                }
                #gt-sample3 {
                    #modal-dialog-gt-sample3 {
                        max-width: 700px;
                    }
                }
            }
        }
    }

    .service-flow {
        .row {
            max-width: 1800px;
            margin: auto;
            .steps {
                background-color: #fff; 
                border-radius: 20px; 
                text-align:center; 
                padding-top: 2rem;
                @include screen-mobile {
                    max-width: 315px;
                }
                img {
                    height: 5rem;
                }
            }
        }
    }

    .scenes {
        padding: 8rem 0;
        .card-deck {
            max-width: 1600px;
            margin: auto;
        }
    }

    .faq {
        padding-bottom: 8rem;
        // .accordion {
        //     margin: auto;
        //     width: 400px;
        //   }
        .accordion input {
        display: none;
        }
        .box {
        position: relative;
        background: white;
            height: 64px;
            transition: all .15s ease-in-out;
        }
        .box::before {
            content: '';
            position: absolute;
            display: block;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            pointer-events: none;
            box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
        }
    //   header.box {
    //     background: #00BCD4;
    //     z-index: 100;
    //     cursor: initial;
    //     box-shadow: 0 -1px 0 #e5e5e5,0 0 2px -2px rgba(0,0,0,.12),0 2px 4px -4px rgba(0,0,0,.24);
    //   }
    //   header .box-title {
    //     margin: 0;
    //     font-weight: normal;
    //     font-size: 16pt;
    //     color: white;
    //     cursor: initial;
    //   }
        .box-title {
        width: calc(100% - 40px);
        height: 64px;
        line-height: 64px;
        padding: 0 20px;
        display: inline-block;
        cursor: pointer;
        -webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;
        }
        .box-content {
        width: calc(100% - 40px);
        padding: 30px 20px;
        font-size: 11pt;
        color: rgba(0,0,0,.54);
        display: none;
        }
        .box-close {
        position: absolute;
        height: 64px;
        width: 100%;
        top: 0;
        left: 0;
        cursor: pointer;
        display: none;
        }
        input:checked + .box {
        height: auto;
        margin: 16px 0;
            box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
        }
        input:checked + .box .box-title {
        border-bottom: 1px solid rgba(0,0,0,.18);
        }
        input:checked + .box .box-content,
        input:checked + .box .box-close {
        display: inline-block;
        }
        .arrows section .box-title {
        padding-left: 44px;
        width: calc(100% - 64px);
        }
        .arrows section .box-title:before {
        position: absolute;
        display: block;
        content: '\203a';
        font-size: 18pt;
        left: 20px;
        top: -2px;
        transition: transform .15s ease-in-out;
        color: rgba(0,0,0,.54);
        }
        input:checked + section.box .box-title:before {
        transform: rotate(90deg);
        }
    }
}

.home {
    .wrap {
        .card-deck {
            .card {
                margin-top: 30px;
            }
        }

        img {
            width: 100%; 
            height: 250px; 
            object-fit: cover;
        }
    }

    .success-story {
        .card {
            max-width: 780px;
        }
        img {
            width: 260px;
            height: 260px;
            object-fit: cover;
        }
        a {
            margin-top: 30px;
        }
    }
}

.detail {
    .wrap {
        align-items: center;
        margin-top: 30px;
        @include iframe
    }
    h4 {
        margin-bottom: 20px;
    }
    .invite {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 30px;
    }
}

.apply {
    .img-box {
        text-align: center;

        img {
            width: 250px;
            height: 250px;
            object-fit: cover;
        }
        h2,h4 {
            text-align: center;
        }
    }
}

.interest {
    .card {
        width: 325px; 
        margin: 25px;

        img {
            width: 100%; 
            height: 250px; 
            object-fit: cover;
        }
        h5.name {
            text-align: center;
        }
    }
}

.history {
    .justify-content-center {
        .row {
            align-items: center;
            border-bottom: 1px solid #CCC;
            padding-bottom: 20px;
            margin-bottom: 20px;
        }
    }

    .section {
        margin-bottom: 20px;
        border-bottom: medium solid #ff00ff;
    }

    .gt-sec {
        h5 {
            text-align: center;
        }
        .img-box {
            text-align: center;
            img {
                width: 200px;
                margin-bottom: 15px;
            }
        }
    }
}

.gt-index {
    .register {
        margin-bottom: 30px;
    }

    .list {
        h3,h5 {
            text-align: center;
        }

        .card {
            width: 325px; 
            margin: 25px;    
        }
    }
}

.gt-show {
    margin: 50px auto;
    @include iframe
}