@import "../variables";
@import "../mixin";

// デバイスの横幅にかかわらず共通＆Portrait・Landscapeも共通
.pg-top,
.login-top {
  #modal-dialog-appform {
    max-width: 800px;

    .form-check input {
      position: absolute;
      margin-top: 0.3rem;
      margin-left: 0.3rem;
    }
  }
}

.card-deck .card {
  max-width: 700px;
  background: $gray-100;

  img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
}

.img-box {
  max-width: 500px;

  img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
}

.pg-top {
  position: relative;
  
  .top-right {
    position: absolute;
    right: 30px;
    top: 50px;
    z-index: 1;

    a {
      color: $white;
      padding: 0 0.5rem;
    }
  }

  .top-img {
    background-image: url(../../images/product-school-DL-yyYDDNX4-unsplash.jpg);
    background-position: 70%;
    background-size: cover;
    width: 100%;
    position: relative;
    
    .ccp-en {
      position: absolute;
      bottom: 10rem;
      left: 6rem;
      font-family: sans-serif;
    }
    .ccp-ja {
      position: absolute;
      bottom: 6rem;
      left: 6rem;
    }
    .movetext1 {
      opacity: 0;

      span {
        @include gray-shadow;
        font-size: 2rem;
        color: $white;
        opacity: 0;
      }
    }

    .movetext2 {
      opacity: 0;

      span {
        @include gray-shadow;
        font-size: 3rem;
        color: $white;
        opacity: 0;
      }
    }
  }

  .what-is-gt {
    .row {
      position: relative;
    }

    .descr {
      @include white-shadow;
    }

    .impr {
      background: no-repeat url(../../../public/images/what-is-gt-impr-min.png);
      width: 45%;
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
    }
  }

  .meet-to-know {
    .row {
      position: relative;
    }

    .impr {
      background: no-repeat url(../../../public/images/meet-to-know-impr-min.png);
      width: 45%;
      position: absolute;
      top: 0;
      left: 0;
    }
    .descr {
      @include white-shadow;

      .first {
        padding-left: 16rem;
      }
      .second {
        padding-left: 8rem;
      }
    }
  }

  .gt-sample {
    h2 {
      margin-top: 8rem;
      margin-bottom: 5rem;
    }

    .row {
      margin-bottom: 5rem;
      
      .img {
        margin-top: 8rem;
      }

      .intro {
        margin-top: 2rem;

        a {
          @include font-size(2);
        }

        .gt-sample {
          .modal-dialog {
            max-width: 800px;
          }
        }
      }
    }
  }

  .advantages {
    h5 {
      text-align: center;

      &::first-letter{
        color: $blue;
      }
    }

    img {
      display: block;
      height: 250px;
      margin: auto;
    }
  }

  .service-flow {
    .row {
      max-width: 1800px;
      margin: auto;

      .steps {
        background-color: $white;
        border-radius: 20px;
        text-align: center;
        padding-top: 2rem;
        max-width: 600px;

        img {
          height: 5rem;
        }
      }
    }
  }

  .scenes {
    padding: 8rem 0;

    .card-deck {
      max-width: 1600px;
      margin: auto;

      .card {
        img {
          height: 300px;
          // width: 100%;
          // object-fit: cover;
        }
      }
    }
  }
}

.home {
  .wrap {
    .card-deck {
      .card {
        margin-top: 30px;

        // img {
        //   width: 100%;
        //   height: 250px;
        //   object-fit: cover;
        // }
      }
    }
  }

  // .success-story {
  //   .card {
  //     max-width: 780px;
  //   }
  //   img {
  //     width: 260px;
  //     height: 260px;
  //     object-fit: cover;
  //   }
  //   a {
  //     margin-top: 30px;
  //   }
  // }
}

.detail {
  .wrap {
    align-items: center;
    @include iframe-gt-clip;
  }
  // .invite {
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: space-evenly;
  //   margin-top: 30px;
  // }
}

.history {
  .justify-content-center {
    .row {
      align-items: center;
      border-bottom: 1px solid $gray-200;
      padding-bottom: 20px;
      margin-bottom: 20px;
    }
  }
}

.gt-index {
  .register {
    margin-bottom: 30px;
  }

  .list {
    h3,
    h5 {
      text-align: center;
    }

    .card {
      width: 325px;
      margin: 25px;
    }
  }
}

.gt-show {
  margin: 50px auto;
  @include iframe-gt-clip;
}

.pg-top {
  .gt-sample {
    .row {
      .intro {
        margin-top: 2rem;
      }
    }
  }
}

// デバイスの横幅にかかわらず共通＆Portrait
@include screen-portrait {
  h6, .h6 { @include font-size(1.25); }
  p, a, ul, li, .faq { @include font-size(1.4); }

  .full-height {
    height: 70vh;
  }

  .pg-top {
    .top-right a {
      @include font-size(2);
    }

    .what-is-gt,
    .meet-to-know {
      .impr {
        height: 35vh;
      }
    }

    .gt-sample {
      .row .intro a {
            @include font-size(2);
          }
        }

    .scenes {
      .card-deck {
        flex-flow: column;

        .card {
          margin: auto;
        }
      }
    }
  }
}

// デバイスの横幅にかかわらず共通＆Landscape
@include screen-landscape {
  .full-height {
    height: 100vh;
  }

  .pg-top {
    .what-is-gt,
    .meet-to-know {
      .impr {
        height: 100vh;
      }
    }

    .gt-sample {
      .row .intro a {
            @include font-size(1);
          }
        }
      }

  // .pg-top {
  //   .what-is-gt {
      

            // .gt-sample {
            //     .row {
            //         .intro {
            //             margin-top: 2rem;
            //         }
            //     }
            // }

            // position: relative;
            // .top-right {
            //     position: absolute;
            //     right: 30px;
            //     top: 50px;
            //     z-index: 1;
            //     // @include screen-tablet-portrait {
            //     //     top: 80px;
            //     // }
            //     // @include screen-laptop-portrait {
            //     //     top: 60px;
            //     // }
            //     a {
            //         color: $white;
            //         padding: 0 0.5rem;
            //         font-size: 1.4rem;
            //         // @include screen-mobile-landscape {
            //         //     font-size: 1rem;
            //         // }
            //         // @include screen-tablet-landscape {
            //         //     font-size: 1.1rem;
            //         //     font-weight: 600;
            //         // }
            //         // @include screen-laptop-landscape {
            //         //     font-size: 1.2rem;
            //         //     font-weight: 600;
            //         // }
            //         // @include screen-tablet-portrait {
            //         //     padding: 0 1rem;
            //         //     font-size: 2.4rem;
            //         //     font-weight: 600;
            //         // }
            //         // @include screen-laptop-portrait {
            //         //     padding: 0 1rem;
            //         //     font-size: 1.8rem;
            //         //     font-weight: 600;
            //         // }
            //     }
            // }
            // .top-img {
            //     background-image: url(../../images/product-school-DL-yyYDDNX4-unsplash.jpg);
            //     background-position: 70%;
            //     background-size: cover;
            //     width: 100%;
            //     position: relative;
            //     .ccp-en {
            //         position: absolute;
            //         bottom: 10rem;
            //         left: 6rem;
            //         font-family: sans-serif;
            //         // @include screen-mobile-landscape {
            //         //     bottom: 4rem;
            //         //     left: 2rem;
            //         // }
            //         // @include screen-tablet-landscape {
            //         //     bottom: 5rem;
            //         //     left: 3rem;
            //         // }
            //     }
            //     .ccp-ja {
            //         position: absolute;
            //         bottom: 6rem;
            //         left: 6rem;
            //         // @include screen-mobile-landscape {
            //         //     bottom: 2rem;
            //         //     left: 2rem;
            //         // }
            //         // @include screen-tablet-landscape {
            //         //     bottom: 3rem;
            //         //     left: 3rem;
            //         // }
            //     }
            //     .movetext1 {
            //         opacity: 0;
            //         span {
            //             @include gray-shadow;
            //             font-size: 2rem;
            //             color: $white;
            //             opacity: 0;
            //             // @include screen-mobile-landscape {
            //             //     font-size: 1rem;
            //             // }
            //             // @include screen-tablet-landscape {
            //             //     font-size: 1.1rem;
            //             // }
            //             // @include screen-laptop-landscape {
            //             //     font-size: 1.2rem;
            //             // }
            //             // @include screen-tablet-portrait {
            //             //     font-size: 2.2rem;
            //             // }
            //             // @include screen-laptop-portrait {
            //             //     font-size: 2.2rem;
            //             // }
            //         }
            //     }
            //     .movetext2 {
            //         opacity: 0;
            //         span {
            //             @include gray-shadow;
            //             font-size: 3rem;
            //             color: $white;
            //             opacity: 0;
            //             // @include screen-mobile-landscape {
            //             //     font-size: 2rem;
            //             // }
            //             // @include screen-tablet-landscape {
            //             //     font-size: 2.2rem;
            //             // }
            //             // @include screen-laptop-landscape {
            //             //     font-size: 2.4rem;
            //             // }
            //             // @include screen-tablet-portrait {
            //             //     font-size: 3.6rem;
            //             // }
            //             // @include screen-laptop-portrait {
            //             //     font-size: 3.6rem;
            //             // }
            //         }
            //     }
            // }

            // .what-is-gt {
            //     .row {
            //         position: relative;
            //     }
            //     .descr {
            //         @include white-shadow;
            //     }
            //     .impr {
            //         background: no-repeat url(what-is-gt-impr.png);
            //         height: 70vh;
            // position: absolute;
            // top: 0;
            // right: 0;
            // z-index: -1;
            // @include screen-mobile-landscape {
            //     width: 70%;
            //     height: 110vh;
            // }
            // @include screen-tablet-landscape {
            //     width: 65%;
            //     height: 100vh;
            // }
            // @include screen-desktop-landscape {
            //     width: 36%;
            //     height: 100vh;
            // }
            // @include screen-hd-landscape {
            //     width: 27%;
            //     height: 100vh;
            // }
            // @include screen-mobile-portrait {
            //     width: 70%;
            //     height: 100vh;
            // }
            // @include screen-tablet-portrait {
            //     width: 40%;
            //     height: 200vh;
            // }
    //     }
    // }

    //     .meet-to-know {
    //         .row {
    //             position: relative;
    //         }
    //         .impr {
    //             background: no-repeat url(meet-to-know-impr.png);
    //             height: 70vh;
    //             width: 40%;
    //             position: absolute;
    //             top: 0;
    //             left: 0;
    //             // @include screen-mobile-landscape {
    //             //     width: 50%;
    //             //     height: 130vh;
    //             // }
    //             // @include screen-tablet-landscape {
    //             //     width: 50%;
    //             //     height: 120vh;
    //             // }
    //             // @include screen-mobile-portrait {
    //             //     width: 50%;
    //             //     height: 130vh;
    //             // }
    //             // @include screen-tablet-portrait {
    //             //     width: 50%;
    //             //     height: 300vh;
    //             // }
    //         }
    //         .descr {
    //             @include white-shadow;
    //             .first {
    //                 padding-left: 16rem;
    //             }
    //             .second {
    //                 padding-left: 8rem;
    //             }
    //         }
    //     }

    //     .gt-sample {
    //         h2 {
    //             margin-top: 8rem;
    //             // @include screen-laptop-portrait {
    //             //     margin-bottom: 6rem;
    //             // }
    //         }
    //         .row {
    //             margin-bottom: 5rem;
    //             .img {
    //                 margin-top: 8rem;
    //             }
    //             .intro {
    //                 margin-top: 12rem;
    //                 // @include screen-mobile-landscape {
    //                 //     margin-top: 2rem;
    //                 // }
    //                 // @include screen-tablet-landscape {
    //                 //     margin-top: 2rem;
    //                 // }
    //                 // @include screen-laptop-landscape {
    //                 //     margin-top: 2rem;
    //                 // }
    //                 // @include screen-mobile-portrait {
    //                 //     margin-top: 2rem;
    //                 // }
    //                 // @include screen-tablet-portrait {
    //                 //     margin-top: 2rem;
    //                 // }
    //                 // @include screen-laptop-portrait {
    //                 //     margin-top: 6rem;
    //                 // }
    //                 #gt-sample1 {
    //                     #modal-dialog-gt-sample1 {
    //                         max-width: 700px;
    //                     }
    //                 }
    //                 #gt-sample2 {
    //                     #modal-dialog-gt-sample2 {
    //                         max-width: 700px;
    //                     }
    //                 }
    //                 #gt-sample3 {
    //                     #modal-dialog-gt-sample3 {
    //                         max-width: 700px;
    //                     }
    //                 }
    //             }
    //         }
    //     }

    //     .service-flow {
    //         .row {
    //             max-width: 1800px;
    //             margin: auto;
    //             .steps {
    //                 background-color: #fff;
    //                 border-radius: 20px;
    //                 text-align: center;
    //                 padding-top: 2rem;
    //                 // @include screen-tablet-landscape {
    //                 //     max-width: 315px;
    //                 // }
    //                 // @include screen-tablet-portrait {
    //                 //     max-width: 315px;
    //                 // }
    //                 img {
    //                     height: 5rem;
    //                 }
    //             }
    //         }
    //     }

    //     .scenes {
    //         padding: 8rem 0;
    //         .card-deck {
    //             max-width: 1600px;
    //             margin: auto;
    //         }
    //     }

    //     .faq {
    //         padding-bottom: 8rem;
    //         // .accordion {
    //         //     margin: auto;
    //         //     width: 400px;
    //         //   }
    //         .accordion input {
    //             display: none;
    //         }
    //         .box {
    //             position: relative;
    //             background: white;
    //             height: 64px;
    //             transition: all 0.15s ease-in-out;
    //             // @include screen-tablet-portrait {
    //             //     font-size: 1.6rem;
    //             // }
    //         }
    //         .box::before {
    //             content: "";
    //             position: absolute;
    //             display: block;
    //             top: 0;
    //             bottom: 0;
    //             left: 0;
    //             right: 0;
    //             pointer-events: none;
    //             box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, 0.12),
    //                 0 2px 4px rgba(0, 0, 0, 0.24);
    //         }
    //         //   header.box {
    //         //     background: #00BCD4;
    //         //     z-index: 100;
    //         //     cursor: initial;
    //         //     box-shadow: 0 -1px 0 #e5e5e5,0 0 2px -2px rgba(0,0,0,.12),0 2px 4px -4px rgba(0,0,0,.24);
    //         //   }
    //         //   header .box-title {
    //         //     margin: 0;
    //         //     font-weight: normal;
    //         //     font-size: 16pt;
    //         //     color: white;
    //         //     cursor: initial;
    //         //   }
    //         .box-title {
    //             width: calc(100% - 40px);
    //             height: 64px;
    //             line-height: 64px;
    //             padding: 0 20px;
    //             display: inline-block;
    //             cursor: pointer;
    //             -webkit-touch-callout: none;
    //             -webkit-user-select: none;
    //             -khtml-user-select: none;
    //             -moz-user-select: none;
    //             -ms-user-select: none;
    //             user-select: none;
    //         }
    //         .box-content {
    //             width: calc(100% - 40px);
    //             padding: 30px 20px;
    //             font-size: 11pt;
    //             color: rgba(0, 0, 0, 0.54);
    //             display: none;
    //             // @include screen-tablet-portrait {
    //             //     font-size: 1.6rem;
    //             // }
    //         }
    //         .box-close {
    //             position: absolute;
    //             height: 64px;
    //             width: 100%;
    //             top: 0;
    //             left: 0;
    //             cursor: pointer;
    //             display: none;
    //         }
    //         input:checked + .box {
    //             height: auto;
    //             margin: 16px 0;
    //             box-shadow: 0 0 6px rgba(0, 0, 0, 0.16),
    //                 0 6px 12px rgba(0, 0, 0, 0.32);
    //         }
    //         input:checked + .box .box-title {
    //             border-bottom: 1px solid rgba(0, 0, 0, 0.18);
    //         }
    //         input:checked + .box .box-content,
    //         input:checked + .box .box-close {
    //             display: inline-block;
    //         }
    //         .arrows section .box-title {
    //             padding-left: 44px;
    //             width: calc(100% - 64px);
    //         }
    //         .arrows section .box-title:before {
    //             position: absolute;
    //             display: block;
    //             content: "\203a";
    //             font-size: 18pt;
    //             left: 20px;
    //             top: -2px;
    //             transition: transform 0.15s ease-in-out;
    //             color: rgba(0, 0, 0, 0.54);
    //         }
    //         input:checked + section.box .box-title:before {
    //             transform: rotate(90deg);
    //         }
    //     }
    // }

    // .home {
    //     .wrap {
    //         .card-deck {
    //             .card {
    //                 margin-top: 30px;
    //             }
    //         }

    //         img {
    //             width: 100%;
    //             height: 250px;
    //             object-fit: cover;
    //         }
    //     }

    //     .success-story {
    //         .card {
    //             max-width: 780px;
    //         }
    //         img {
    //             width: 260px;
    //             height: 260px;
    //             object-fit: cover;
    //         }
    //         a {
    //             margin-top: 30px;
    //         }
    //     }
    // }

    // .detail {
    //     .wrap {
    //         align-items: center;
    //         margin-top: 30px;
    //         @include iframe-gt-clip;
    //     }
    //     h4 {
    //         margin-bottom: 20px;
    //     }
    //     .invite {
    //         display: flex;
    //         flex-direction: row;
    //         justify-content: space-evenly;
    //         margin-top: 30px;
    //     }
    // }

    // .apply {
    //     .img-box {
    //         text-align: center;

    //         img {
    //             width: 250px;
    //             height: 250px;
    //             object-fit: cover;
    //         }
    //         h2,
    //         h4 {
    //             text-align: center;
    //         }
    //     }
    // }

    // .interest {
    //     .card {
    //         width: 325px;
    //         margin: 25px;

    //         img {
    //             width: 100%;
    //             height: 250px;
    //             object-fit: cover;
    //         }
    //         h5.name {
    //             text-align: center;
    //         }
    //     }
    // }

    // .history {
    //     .justify-content-center {
    //         .row {
    //             align-items: center;
    //             border-bottom: 1px solid #ccc;
    //             padding-bottom: 20px;
    //             margin-bottom: 20px;
    //         }
    //     }

    //     .section {
    //         margin-bottom: 20px;
    //         border-bottom: medium solid #ff00ff;
    //     }

    //     .gt-sec {
    //         h5 {
    //             text-align: center;
    //         }
    //         .img-box {
    //             text-align: center;
    //             img {
    //                 width: 200px;
    //                 margin-bottom: 15px;
    //             }
    //         }
    //     }
    // }

    // .gt-index {
    //     .register {
    //         margin-bottom: 30px;
    //     }

    //     .list {
    //         h3,
    //         h5 {
    //             text-align: center;
    //         }

    //         .card {
    //             width: 325px;
    //             margin: 25px;
    //         }
    //     }
    // }

    // .gt-show {
    //     margin: 50px auto;
    //     @include iframe-gt-clip;
    // }
}
